.main-container{
	background-color:#dcdcdc;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial;
}

.title-container{
	background-color:#fff;
	width:100%;
	height:100px;
	border-bottom:1px solid;
	border-color:#000;
}

.main-title{
	color: #87ceeb;
	padding: 25px 50px;
	font-weight: bold;
	font-size: 35;
}
.info-container{
	margin:50px 400px;
	border:1px solid;
	border-color:#b2b2b2;
	border-radius:5px;
	background-color:#fff;
	-moz-border-shadow:10px 10px 5px #888888;
	height:575px;
}

.info-title{
	font-weight:bold;
	font-size:25;
	border-bottom:1px solid #c2c2c2;
	margin:20px 0;
	padding:0 20px;
	height:50px;
}

.input-wrapper{
	padding: 0 30px;
}

.info-remark{
	color:#ff0000;
	font-size:10;
	
}

.label{
	font-size:20px;
	font-weight:bold;
	color:#c2c2c2;
	margin-top:5px;
}

.input-value{
	width:400px;
	margin-top: 10px;
	height: 30px;
	border-radius: 5px;
	margin-bottom:10px;
}

.btn{
	width:80px;
	background-color: #79c1f6;
    float: right;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.footer{
	background-color:#858585;
	color:#fff;
	width:100%;
	height:100px;
	border-bottom:1px solid;
	padding-top:10px;
	text-align:center;
	font-sizee:14px;
}

.left{
	float:left;
}

.clear{
	float:clear;
}